* {
    font-family: "Poppins", sans-serif;
}

h2 {
    font-size: 25px;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}

.medical-checkup-form {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #a0ebb2;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-sizing: border-box;
    margin-top: 4px;
}

select {
    appearance: none;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.asterisk::before {
    content: "*";
    color: red;
}

.character-limit {
    font-size: small;
}

textarea {
    resize: vertical; /* Allow resizing vertically only */
    max-height: 200px; /* Set a maximum height */
}

button {
    background-color: #6b08a6;
    color: #fff;
    width: 40%;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}